<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :popularity %><br>
    <%= f.number_field :popularity %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label "Debut Year" %><br>
    <%= f.number_field :debutYear %>
  </div>
  <div class="field">
    <%= f.label "Genres (of the form genre1, genre2, genre3)" %><br>
    <%= f.text_field :genres %>
  </div>
  <div class="field">
    <%= f.label "Spotify ID" %><br>
    <%= f.text_field :spotifyID %>
  </div>
  <div class="field">
    <%= f.label "Label" %><br>
    <%= select_tag(:label, options_for_select(Label.get_select_field_list(), @artist.get_label_id)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
