<p id="notice"><%= notice %></p>

<h1>Artist: <%= @artist.name %></h1>
<div class="artist-images">
  <% @artist.images.each do |image_url| %>
    <img class="artist-image" src="<%= image_url %>"/>
  <% end %>
</div>

<h2>Basic Info</h2>
<p>
  <strong>Age:</strong>
  <%= @artist.get_age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @artist.get_gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @artist.get_race %>
</p>

<p>
  <strong>Home Country:</strong>
  <%= @artist.get_home_country %>
</p>

<p>
  <strong>Home Region:</strong>
  <%= @artist.get_home_region %>
</p>

<p>
  <strong>Debut Year:</strong>
  <%= @artist.get_debut_year %>
</p>

<p>
  <strong>Label:</strong>
  <%= @artist.get_label %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @artist.get_genres_for_bio %>
</p>

<h2>Albums (<%= @artist.albums.size %>)</h2>
<% if @artist.albums.size > 0 %>
  <table id="albums-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Genres</th>
        <th>Popularity</th>
        <th>Songs</th>
      </tr>
    </thead>

    <tbody>
      <% @artist.albums.each do |album| %>
        <tr class="clickable-row" data-href="<%= album_url(album) %>">
          <td><%= album.title %></td>
          <td><%= album.get_release_date %></td>
          <td><%= album.get_genres_for_bio %></td>
          <td><%= album.get_popularity %></td>
          <td><%= album.songs.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Songs (<%= @artist.songs.size %>)</h2>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
