<p id="notice"><%= notice %></p>

<h1>Artist: <%= @artist.name %></h1>
<div class="artist-images">
    <img class="artist-image" src="<%= @artist.images.first %>"/>
</div>

<h2>Basic Info</h2>
<p>
  <strong>Popularity:</strong>
  <%= @artist.get_popularity %>
</p>

<p>
  <strong>Age:</strong>
  <%= @artist.get_age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @artist.get_gender %>
</p>

<p>
  <strong>Debut Year:</strong>
  <%= @artist.get_debut_year %>
</p>

<p>
  <strong>Label:</strong>
  <%= @artist.get_label %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @artist.get_genres_for_bio %>
</p>

<p>
  <strong>Spotify ID:</strong>
  <%= link_to(@artist.get_spotify_id, @artist.get_spotify_url, target: "_blank") %>
</p>

<h2>Albums (<%= @artist.albums.size %>)</h2>
<% if @artist.albums.size > 0 %>
  <table id="artist-albums-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Popularity</th>
        <th>Release Date</th>
        <th>Number of Songs</th>
      </tr>
    </thead>

    <tbody>
      <% @artist.albums.each do |album| %>
        <tr class="clickable-row" data-href="<%= album_url(album) %>">
          <td><%= album.get_truncated_title %></td>
          <td><%= album.get_popularity %></td>
          <td><%= album.get_release_date %></td>
          <td><%= album.songs.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Songs (<%= @artist.songs.size %>)</h2>
<% if @artist.songs.size > 0 %>
  <table id="artist-songs-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Popularity</th>
        <th>Album</th>
        <th>Release Date</th>
        <th>Duration</th>
        <th>Explicit</th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
        <tr class="clickable-row" data-href="<%= song_url(song) %>">
          <td><%= song.title %></td>
          <td><%= song.get_popularity %></td>
          <td><%= song.album.title %></td>
          <td><%= song.get_release_date %></td>
          <td><%= song.get_duration %></td>
          <td><%= song.explicit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Awards (<%= @artist.awards.size %>)</h2>
<% if @artist.awards.size > 0 %>
  <table id="artist-awards-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Event</th>
        <th>Year Awarded</th>
      </tr>
    </thead>

    <tbody>
      <% @artist.awards.each do |award| %>
        <tr class="clickable-row" data-href="<%= award_url(award) %>">
          <td><%= award.title %></td>
          <td><%= award.event %></td>
          <td><%= award.yearAwarded %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit This Artist', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
