<p id="notice"><%= notice %></p>

<p>
  <strong>Quantoneid:</strong>
  <%= @quantone_artist.quantoneID %>
</p>

<p>
  <strong>Stagename:</strong>
  <%= @quantone_artist.stageName %>
</p>

<p>
  <strong>Artisttype:</strong>
  <%= @quantone_artist.artistType %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @quantone_artist.gender %>
</p>

<p>
  <strong>Imageid:</strong>
  <%= @quantone_artist.imageId %>
</p>

<p>
  <strong>Spotifyid:</strong>
  <%= @quantone_artist.spotifyId %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @quantone_artist.birthDate %>
</p>

<p>
  <strong>Birthplace:</strong>
  <%= @quantone_artist.birthPlace %>
</p>

<p>
  <strong>Deathdate:</strong>
  <%= @quantone_artist.deathDate %>
</p>

<p>
  <strong>Deathplace:</strong>
  <%= @quantone_artist.deathPlace %>
</p>

<p>
  <strong>Legalname:</strong>
  <%= @quantone_artist.legalName %>
</p>

<p>
  <strong>Age:</strong>
  <%= @quantone_artist.age %>
</p>

<p>
  <strong>Homecountry:</strong>
  <%= @quantone_artist.homeCountry %>
</p>

<p>
  <strong>Homeregion:</strong>
  <%= @quantone_artist.homeRegion %>
</p>

<p>
  <strong>Race:</strong>
  <%= @quantone_artist.race %>
</p>

<p>
  <strong>Debutyear:</strong>
  <%= @quantone_artist.debutYear %>
</p>

<%= link_to 'Edit', edit_quantone_artist_path(@quantone_artist) %> |
<%= link_to 'Back', quantone_artists_path %>
