<p id="notice"><%= notice %></p>

<h1>Record Label: <%= @label.name %></h1>

<h2>Basic Info</h2>
<p>
  <strong>Location:</strong>
  <%= @label.location %>
</p>

<h2>Artists At This Label (<%= @label.artists.size %>)</h2>

<table id="artists-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Popularity</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Debut Year</th>
      <th>Label</th>
      <th>Associated Genres</th>
    </tr>
  </thead>

  <tbody>
    <% @label.artists.each do |artist| %>
      <tr class="clickable-row" data-href="<%= artist_url(artist) %>">
        <td><%= artist.get_truncated_name %></td>
        <td><%= artist.popularity %></td>
        <td><%= artist.age %></td>
        <td><%= artist.gender %></td>
        <td><%= artist.debutYear %></td>
        <td><%= artist.label.name %></td>
        <td><%= artist.get_genres %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit This Label', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
