<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label :popularity %><br>
    <%= f.number_field :popularity, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Billboard Hot 100 Peak" %><br>
    <%= f.number_field :billboardHot100Peak, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Spotify Streams" %><br>
    <%= f.number_field :spotifyStreams, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label :sales %><br>
    <%= f.number_field :amountSold, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Radio Play Peak" %><br>
    <%= f.number_field :radioPlayPeak, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Track Number" %><br>
    <%= f.number_field :trackNumber, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Explicit?" %><br>
    <%= f.check_box :explicit %>
  </div>
  <div class="field">
    <%= f.label "Is a Single?" %><br>
    <%= f.check_box :isSingle %>
  </div>
  <div class="field">
    <%= f.label "Has a Music Video?" %><br>
    <%= f.check_box :hasMusicVideo %>
  </div>
  <div class="field">
    <%= f.label "Disc Number" %><br>
    <%= f.number_field :discNumber, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Duration (in milliseconds)" %><br>
    <%= f.number_field :durationMS, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Spotify ID" %><br>
    <%= f.text_field :spotifyID, class: :styled_input %>
  </div>
  <div class="field">
    <%= f.label "Album" %><br>
    <% puts "SONG ALBUM ID = #{@song.get_album_id}" %>
    <%= select_tag(:album, options_for_select(Album.get_select_field_list(), @song.get_album_id), class: :styled_input) %>
  </div>
  <div class="actions">
    <%= f.submit(class: "pretty_button") %>
  </div>
<% end %>
