<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :popularity %><br>
    <%= f.number_field :popularity %>
  </div>
  <div class="field">
    <%= f.label "Track Number" %><br>
    <%= f.number_field :trackNumber %>
  </div>
  <div class="field">
    <%= f.label "Explicit?" %><br>
    <%= f.check_box :explicit %>
  </div>
  <div class="field">
    <%= f.label "Disc Number" %><br>
    <%= f.number_field :discNumber %>
  </div>
  <div class="field">
    <%= f.label "Duration (in milliseconds)" %><br>
    <%= f.number_field :durationMS %>
  </div>
  <div class="field">
    <%= f.label "Spotify ID" %><br>
    <%= f.text_field :spotifyID %>
  </div>
  <div class="field">
    <%= f.label "Album" %><br>
    <% puts "SONG ALBUM ID = #{@song.get_album_id}" %>
    <%= select_tag(:album, options_for_select(Album.get_select_field_list(), @song.get_album_id)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
