<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Billboardhot100peak</th>
      <th>Radioplaypeak</th>
      <th>Spotifystreams</th>
      <th>Hasmusicvideo</th>
      <th>Issingle</th>
      <th>Amountsold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.billboardHot100Peak %></td>
        <td><%= song.radioPlayPeak %></td>
        <td><%= song.spotifyStreams %></td>
        <td><%= song.hasMusicVideo %></td>
        <td><%= song.isSingle %></td>
        <td><%= song.amountSold %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
