<p id="notice"><%= notice %></p>

<h1>All Songs</h1>

<table id="songs-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Popularity</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Release Date</th>
      <th>Duration</th>
      <th>Explicit</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr class="clickable-row" data-href="<%= song_url(song) %>">
        <td><%= song.title %></td>
        <td><%= song.get_popularity %></td>
        <td><%= song.artist.get_truncated_name %></td>
        <td><%= song.album.get_truncated_name %></td>
        <td><%= song.get_release_date %></td>
        <td><%= song.get_duration %></td>
        <td><%= song.explicit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
