<p id="notice"><%= notice %></p>

<h1>All Songs</h1>

<table id="songs-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Billboardhot100peak</th>
      <th>Radioplaypeak</th>
      <th>Spotifystreams</th>
      <th>Hasmusicvideo</th>
      <th>Issingle</th>
      <th>Amountsold</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr class="clickable-row" data-href="<%= song_url(song) %>">
        <td><%= song.title %></td>
        <td><%= song.billboardHot100Peak %></td>
        <td><%= song.radioPlayPeak %></td>
        <td><%= song.spotifyStreams %></td>
        <td><%= song.hasMusicVideo %></td>
        <td><%= song.isSingle %></td>
        <td><%= song.amountSold %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
