<%= form_for(@award) do |f| %>
  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>s
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label "Year Awarded" %><br>
    <%= f.number_field :yearAwarded %>
  </div>
  <div class="field">
    <%= f.label "Artist" %><br>
    <%= select_tag(:artist, options_for_select(Artist.get_select_field_list(), @award.get_artist_id)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
