<p id="notice"><%= notice %></p>

<h1>All Awards</h1>

<table id="awards-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Event</th>
      <th>Artist</th>
      <th>Year Awarded</th>
    </tr>
  </thead>

  <tbody>
    <% @awards.each do |award| %>
      <tr class="clickable-row" data-href="<%= award_url(award) %>">
        <td><%= award.title %></td>
        <td><%= award.event %></td>
        <% if not award.artist.nil? %>
          <td><%= link_to(award.artist.name, artist_url(award.artist)) %></td>
        <% else %>
          <td>N/a</td>
        <% end %>
        <td><%= award.yearAwarded %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Award', new_award_path %>
