<p id="notice"><%= notice %></p>

<h1>Listing Awards</h1>

<table id="awards-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Event</th>
      <th>Date Awarded</th>
    </tr>
  </thead>

  <tbody>
    <% @awards.each do |award| %>
      <tr class="clickable-row" data-href="<%= award_url(award) %>">
        <td><%= award.title %></td>
        <td><%= award.event %></td>
        <td><%= award.dateAwarded %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Award', new_award_path %>
