<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @award.title %>
</p>

<p>
  <strong>Event:</strong>
  <%= @award.event %>
</p>

<p>
  <strong>Dateawarded:</strong>
  <%= @award.dateAwarded %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
