<p id="notice"><%= notice %></p>

<h1>Award: <%= @award.title %></h1>
<h2>Basic Info</h2>

<p>
  <strong>Event:</strong>
  <%= @award.event %>
</p>

<p>
  <strong>Artist:</strong>
  <% if not @award.artist.nil? %>
    <%= link_to(@award.artist.name, artist_url(@award.artist)) %>
  <% else %>
    N/a
  <% end %>
</p>

<p>
  <strong>Year Awarded:</strong>
  <%= @award.yearAwarded %>
</p>

<%= link_to 'Edit This Award', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
