<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table id="albums-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Genres</th>
      <th>Amount Sold</th>
      <th>Billboard 200 Peak</th>
      <th>Number Of Singles</th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr class="clickable-row" data-href="<%= album_url(album) %>">
        <td><%= album.title %></td>
        <td><%= album.releaseDate %></td>
        <td><%= album.genres %></td>
        <td><%= album.amountSold %></td>
        <td><%= album.billboard200Peak %></td>
        <td><%= album.numberOfSingles %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
