<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table id="albums-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Release Date</th>
      <th>Genres</th>
      <th>Popularity</th>
      <th>Songs</th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr class="clickable-row" data-href="<%= album_url(album) %>">
        <td><%= album.title %></td>
        <td><%= album.artist.name %></td>
        <td><%= album.get_release_date %></td>
        <td><%= album.get_genres %></td>
        <td><%= album.get_popularity %></td>
        <td><%= album.songs.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
