<%= form_for(@spotify_artist) do |f| %>
  <% if @spotify_artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spotify_artist.errors.count, "error") %> prohibited this spotify_artist from being saved:</h2>

      <ul>
      <% @spotify_artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :spotifyID %><br>
    <%= f.text_field :spotifyID %>
  </div>
  <div class="field">
    <%= f.label :images %><br>
    <%= f.text_field :images %>
  </div>
  <div class="field">
    <%= f.label :popularity %><br>
    <%= f.number_field :popularity %>
  </div>
  <div class="field">
    <%= f.label :genres %><br>
    <%= f.text_field :genres %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
