<!DOCTYPE html>
<html lang="en">
<head>
  <title>MusicDB</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class="logo">
      MusicDB
    </div>

    <nav>
      <ul>
        <li><a href="<%= root_url %>">Home</a></li>
        <li><a href="<%= artists_url %>">Artists</a></li>
        <li><a href="<%= songs_url %>">Songs</a></li>
        <li><a href="<%= albums_url %>">Albums</a></li>
        <li><a href="<%= awards_url %>">Awards</a></li>
        <li><a href="<%= labels_url %>">Labels</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
