<!DOCTYPE html>
<html lang="en">
<head>
  <title>MusicDB</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

  <!-- For DataTables -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

</head>

<body>
  <header>
    <div class="logo">
      <%= link_to(MusicDB, root_url) %>
    </div>

    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to("Sign out", destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to("Sign in", new_user_session_path) %></li>
        <% end %>
        <li><a href="<%= artists_url %>">Artists</a></li>
        <li><a href="<%= songs_url %>">Songs</a></li>
        <li><a href="<%= albums_url %>">Albums</a></li>
        <li><a href="<%= awards_url %>">Awards</a></li>
        <li><a href="<%= labels_url %>">Labels</a></li>
        <li><a href="<%= root_url %>">Home</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <%= flash[:message] %>
    <%= flash[:info] %>
    <%= yield %>
  </div>

</body>
</html>
